@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .small-scrollbar::-webkit-scrollbar {
        width: 10px;
        border-radius: 8px;
        background-color: #f5f5f5;
    }

    .small-scrollbar::-webkit-scrollbar-thumb {
        width: 10px;
        border-radius: 8px;
        background-color: #555;
    }
}

@layer base {
    html {
        font: 16px/1.5 'Inter', sans-serif;
        scroll-behavior: smooth;
    }

    /* 1. Use a more-intuitive box-sizing model */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* 2. Remove default margin */
    * {
        margin: 0;
    }

    body {
        /* 3. Add accessible line-height */
        line-height: 1.5;
        /* 4. Improve text rendering */
        -webkit-font-smoothing: antialiased;
    }

    /* 5. Improve media defaults */
    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    /* 6. Inherit fonts for form controls */
    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    /* 7. Avoid text overflows */
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }

    /* 8. Improve line wrapping */
    p {
        text-wrap: pretty;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    /*
      9. Create a root stacking context
    */
    #root,
    #__next {
        isolation: isolate;
    }
}
